<button mat-flat-button color="primary" routerLink="/view/finances/create">
  Create new
</button>
<div class="ml-05 mr-05 mt-05 pb-1">
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="finances" matSort>
      <ng-container matColumnDef="Vendor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Vendor
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="vendorId">
          {{ element.vendorId }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Ship To">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Ship To
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="shipId">
          {{ element.shipId }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Terms of Payment">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Terms of Payment
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="termsofPayment">
          {{ element.termsofPayment }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Terms Of Deliery">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          termsOfDeliery
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Terms Of Deliery">
          {{ element.termsOfDeliery }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Prepared By">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Prepared By
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="preparedBy">
          {{ element.preparedBy }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Checked By">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Checked By
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="checkedBy">
          {{ element.checkedBy }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Approved By">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Approved By
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="approvedBy">
          {{ element.approvedBy }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="date">
          {{ element.date }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a
            routerLink="/view/finances/edit/{{ element.id }}"
            mat-flat-button
            color="primary"
          >
            Edit
          </a>
          <button
            mat-flat-button
            color="warn"
            [swal]="{
              title: 'Confirmation',
              text: 'Are you sure that you want to delete the record?',
              showCancelButton: true
            }"
            (confirm)="delete(element.id)"
          >
            Delete
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let element; columns: columnsToDisplay"> </mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20, 50]"
      showFirstLastButtons
      [length]="totalAmountOfRecords"
      [pageSize]="pageSize"
      (page)="updatePagination($event)"
      class="mat-elevation-z8"
    >
    </mat-paginator>
  </div>
</div>
