<h2 fxLayout="row" fxLayoutAlign="center center">Requests</h2>

<div fxLayout="row" fxLayoutAlign="center center" >
  <mat-icon class="noprint" (click)="printPage()">print</mat-icon>
</div>

<app-authorize-role [role]="Department">
  <ng-container authorized>
    <button class="noprint" mat-flat-button color="primary" routerLink="/request/create">
      Create
    </button>
  </ng-container>
</app-authorize-role>
<div class="ml-05 mr-05 mt-05 pb-1">
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="request" matSort>

      <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          status
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="status">
          <div *ngIf="element.status == 0">Requested</div>
          <div *ngIf="element.status == 1">Budgeted</div>
          <div *ngIf="element.status == 2">Rejected</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Budget Code">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Budget Code
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="budget">
          {{ element.budgetCode }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Budget By">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="showColumn()">
          Budget By
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="budget" [ngClass]="showColumn()">
          {{ element.budgetBy }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Budget Date">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="showColumn()">
          Budget Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="budget" [ngClass]="showColumn()">
          {{ element.budgetDate | date }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Requested By">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Requested By
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="request">
          {{ element.createdByUser }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Requested Date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Requested Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="request">
          {{ element.createdDate | date }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Modified By">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="showColumn()">
          Modified By
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="updated by" [ngClass]="showColumn()">
          {{ element.modifiedByUser }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Modified Date">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="showColumn()">
          Modified Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="updated" [ngClass]="showColumn()">
          {{ element.modifiedDate | date }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef class="noprint">Actions</mat-header-cell>
        <mat-cell *matCellDef="let element" class="noprint">

          <app-authorize-role [role]="Department">
            <ng-container authorized>
              <mat-icon
                      *ngIf="element.status == 0"
                      class="delete-btn"
                      mat-flat-button
                      color="warn"
                      [swal]="{
                  title: 'Confirmation',
                  text: 'Are you sure that you want to delete the record?',
                  showCancelButton: true
                }"
                      (confirm)="delete(element.id)"
              >
                delete_forever</mat-icon
              ></ng-container
            >
          </app-authorize-role>

          <app-authorize-role [role]="Finance">
            <ng-container authorized>
                <mat-icon *ngIf="element.status == 0" (click)="budget(element.id)">task_alt</mat-icon
              ></ng-container
            >
          </app-authorize-role>

          <app-authorize-role [role]="Finance">
            <ng-container authorized>
              <mat-icon
                *ngIf="element.status == 2"
                [swal]="{
                  title: 'Budget Code',
                  input: 'text',
                  showDenyButton: true,
                  denyButtonText: 'No budget',
                  showCancelButton: true
                }"
                (confirm)="approve(element.id, $event)"
                (deny)="reject(element.id)"
                >task_alt</mat-icon
              ></ng-container
            >
          </app-authorize-role>

          <app-authorize-role [role]="Finance">
            <ng-container authorized>
              <mat-icon
                *ngIf="element.status == 1"
                [swal]="{
                  title: 'Confirmation',
                  text: 'Are you sure that you want to Reject the Budget?',
                  showCancelButton: true
                }"
                (confirm)="reject(element.id)"
                >clear
              </mat-icon></ng-container
            >
          </app-authorize-role>

          <mat-icon routerLink="/request/{{ element.id }}">info </mat-icon>

        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let element; columns: columnsToDisplay"> </mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 10]"
      showFirstLastButtons
      [length]="totalAmountOfRecords"
      [pageSize]="pageSize"
      (page)="updatePagination($event)"
      class="noprint mat-elevation-z8"
    >
    </mat-paginator>
  </div>
</div>
