
<h2 fxLayout="row" fxLayoutAlign="center center">Store Items</h2>

<div fxLayout="row" fxLayoutAlign="center center" >
  <mat-icon class="noprint" (click)="printPage()">print</mat-icon>
</div>
<!-- header -->
<div>
  <div fxLayout="row">
    <div fxFlex="5"></div>
    <div fxFlex="75">
      <div fxLayout="column">
        <div>supplier : {{ header.supplierId }}</div>
        <div>Gra No : {{ header.graNo }}</div>
        <app-authorize-role [role]="Procurement">
          <ng-container authorized>
        <div>Store By : {{ header.storeBy }}</div>
          </ng-container>
        </app-authorize-role>
        <div>Store Date : {{ header.storeDate|date }}</div>
        <div></div>
      </div>
    </div>
    <div fxFlex="20">
      <div fxLayout="column">
          <div *ngIf="header.status==0">Status : Purchased</div>
          <div *ngIf="header.status==1">Status : Stored</div>
        <app-authorize-role [role]="Procurement">
          <ng-container authorized>
        <div>Receiver :{{ header.createdByUser }}</div>
          </ng-container>
        </app-authorize-role>
        <div>Received Date :{{ header.createdDate|date }}</div>
        <app-authorize-role [role]="Procurement">
          <ng-container authorized>
        <div>Modified BY :{{ header.modifiedByUser }}</div>
        <div>Modified Date: {{ header.modifiedDate|date }}</div>
          </ng-container>
        </app-authorize-role>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="ml-05 mr-05 mt-05 pb-1">
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="stores" matSort>
        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="name">
            {{ element.name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Item Specification">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Item Specification
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="itemSpecification">
            {{ element.itemSpecification }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Unit">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Unit
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="unit">
            {{ element.unit }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Quantity Ordered">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Quantity Ordered
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="qtyOrdered">
            {{ element.qtyOrdered }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Quantity Received">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Quantity Received
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="qtyRecived">
            {{ element.qtyReceived }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Quantity Remain">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Quantity Remain
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="qtyRemain">
            {{ element.qtyRemain}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Unit Price">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Unit Price
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="unitPrice">
            {{ element.unitPrice }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Total Price">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Total Price
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="totalPrice">
            {{ element.totalPrice }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Status
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="totalPrice">
            <div *ngIf="element.status==0">Store</div>
            <div *ngIf="element.status==1">Distributed</div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="noprint">
            Actions
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="noprint">
            <app-authorize-role [role]="Purchaser">
              <ng-container authorized>
            <mat-icon
                    *ngIf="header.status==0"
              routerLink="/storeitem/{{ paramsId }}/edit/{{ element.id }}"
              mat-flat-button
              color="primary"
              >edit
            </mat-icon>
            <mat-icon
              class="delete-btn"
              mat-flat-button
              color="warn"
              [swal]="{
                title: 'Confirmation',
                text: 'Are you sure that you want to delete the record?',
                showCancelButton: true
              }"
              (confirm)="delete(element.id)"
            >
              delete_forever</mat-icon
            >
              </ng-container>
            </app-authorize-role>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let element; columns: columnsToDisplay"> </mat-row>
      </mat-table>
    </div>
  </div>
  <!--  -->
</div>
