<!-- header -->
<div>
  <div fxLayout="row">
    <div fxFlex="5"></div>
    <div fxFlex="75">
      <div fxLayout="column">
        <div>supplier : {{ header.supplierId }}</div>
        <div>Gra No : {{ header.graNo }}</div>
        <div></div>
      </div>
    </div>
    <div fxFlex="20">
      <div fxLayout="column">
        <div>Receiver :{{ header.reciverId }}</div>
        <div>Checked By :{{ header.checkedBy }}</div>
        <div>Date :{{ header.date }}</div>
        <div></div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="ml-05 mr-05 mt-05 pb-1">
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="stores" matSort>
        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="name">
            {{ element.name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Item Specification">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Item Specification
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="itemSpecification">
            {{ element.itemSpecification }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Unit">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Unit
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="unit">
            {{ element.unit }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Quantity Ordered">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Quantity Ordered
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="qtyOrdered">
            {{ element.qtyOrdered }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Quantity Received">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Quantity Received
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="qtyRecived">
            {{ element.qtyRecived }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Unit Price">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Unit Price
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="unitPrice">
            {{ element.unitPrice }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Total Price">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Total Price
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="totalPrice">
            {{ element.totalPrice }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let element; columns: columnsToDisplay"> </mat-row>
      </mat-table>
    </div>
  </div>
  <!--  -->
</div>
