<mat-card class="p-0">
  <mat-card-content>
    <form (submit)="saveChanges()" [formGroup]="form">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
          <div class="pb-1">
            <mat-form-field>
              <input
                matInput
                name="name"
                formControlName="name"
                placeholder="Name"
                value=""
              />
            </mat-form-field>
            <small
              *ngIf="
                form.controls['name'].hasError('name') &&
                form.controls['name'].touched
              "
              class="form-error-msg"
            >
              Name is required
            </small>
            <mat-form-field>
              <input
                matInput
                name="type"
                formControlName="type"
                placeholder="Type"
                value=""
              />
            </mat-form-field>
            <small
              *ngIf="
                form.controls['type'].hasError('type') &&
                form.controls['type'].touched
              "
              class="form-error-msg"
            >
              Type is required
            </small>
            <mat-form-field>
              <input
                matInput
                name="dicription"
                formControlName="dicription"
                placeholder="Dicription"
              />
            </mat-form-field>
            <small
              *ngIf="
                form.controls['dicription'].hasError('dicription') &&
                form.controls['dicription'].touched
              "
              class="form-error-msg"
            >
              Dicription is Required
            </small>
            <mat-form-field class="full-try">
              <input
                matInput
                name="use"
                formControlName="use"
                placeholder="Use"
                value=""
              />
            </mat-form-field>
            <small
              *ngIf="
                form.controls['use'].hasError('use') &&
                form.controls['use'].touched
              "
              class="form-error-msg"
            >
              Use is required
            </small>
            <mat-form-field>
              <input
                matInput
                name="qty"
                formControlName="qty"
                placeholder="Qty"
              />
            </mat-form-field>
            <small
              *ngIf="
                form.controls['qty'].hasError('qty') &&
                form.controls['qty'].touched
              "
              class="form-error-msg"
            >
              Qty is Required
            </small>
            <mat-form-field>
              <input
                matInput
                name="unitPrice"
                formControlName="unitPrice"
                placeholder="UnitPrice"
              />
            </mat-form-field>
            <small
              *ngIf="
                form.controls['unitPrice'].hasError('unitPrice') &&
                form.controls['unitPrice'].touched
              "
              class="form-error-msg"
            >
              UnitPrice is Required
            </small>
            <!-- <mat-form-field>
              <input
                matInput
                name="budgetCode"
                formControlName="budgetCode"
                placeholder="BudgetCode"
              />
            </mat-form-field>
            <small
              *ngIf="
                form.controls['budgetCode'].hasError('budgetCode') &&
                form.controls['budgetCode'].touched
              "
              class="form-error-msg"
            >
              BudgetCode is Required
            </small> -->
          </div>
        </div>
      </div>
      <button mat-raised-button color="primary" [disabled]="form.invalid">
        Submit
      </button>
      <button mat-raised-button color="danger" form.clear>Cancil</button>
    </form>
  </mat-card-content>
</mat-card>
