<h1 fxLayout="row" fxLayoutAlign="center center">Users</h1>

<button class="noprint"   mat-flat-button color="primary" routerLink="/user/register">
  Register
</button>
<div fxLayout="row" fxLayoutAlign="center center" >
<mat-icon class="noprint" (click)="printPage()">print</mat-icon>
</div>

<div class="ml-05 mr-05 mt-05 pb-1">
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="users" matSort>

      <ng-container matColumnDef="First Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          First Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="firstName">
          {{ element.firstName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Last Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Last Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="lastName">
          {{ element.lastName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="UserName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          UserName
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="userName">
          {{ element.userName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Email
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="email">
          {{ element.email }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Phone Number">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Phone Number
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="phoneNumber">
          {{ element.phoneNumber }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Status
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="status">
          <mat-slide-toggle
            [checked]="element.isEnabled"
            (change)="ChangeStatus(element.id, $event)"
          >
            <div *ngIf="element.isEnabled">Active</div>
            <div *ngIf="!element.isEnabled">DeActive</div></mat-slide-toggle
          >
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Role">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Role
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="role">
          <mat-form-field>
            <mat-label>{{element.roles}}</mat-label>
            <mat-select>
              <mat-option *ngFor="let role of roles">
                <div
                  [swal]="{
                    title: 'Confirmation',
                    text: 'Are you sure that you want to change the user an role?',
                    showCancelButton: true
                  }"
                  (confirm)="ChangeRole(element.id, role)"
                >
                  {{ role }}
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let element; columns: columnsToDisplay"> </mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20, 50]"
      showFirstLastButtons
      [length]="totalAmountOfRecords"
      [pageSize]="pageSize"
      (page)="updatePagination($event)"
      class="noprint mat-elevation-z8"
    >
    </mat-paginator>
  </div>
</div>
