<!-- header -->
<div [formGroup]="form">
  <div fxLayout="row">
    <div fxFlex="85"></div>
    <div fxFlex="15">
      <div fxLayout="column">
          <mat-form-field class="full-width">
            <mat-label>Choose Company</mat-label>
            <mat-select formControlName="supplierId">
              <mat-option
                      *ngFor="let company of company"
                      [value]="company.id"
              >
                {{ company.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <div>
          <mat-form-field>
            <input matInput formControlName="graNo" placeholder="Gra No" />
          </mat-form-field>
          <small
            *ngIf="
              form.controls['graNo'].hasError('required') &&
              form.controls['graNo'].touched
            "
            class="form-error-msg"
          >
            Gra No is required</small
          >
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-mini-fab (click)="addItem()">
      <mat-icon class="add-course-btn">add</mat-icon>
    </button>
  </div>
  <!--  -->
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="10"></div>
    <div fxFlex="80">
      <ng-container formArrayName="storeItems">
        <ng-container
          *ngFor="let storeForm of storeItems.controls; let i = index"
        >
          <div [formGroup]="storeForm">
            <mat-form-field>
              <input
                matInput
                name="name"
                formControlName="name"
                placeholder="Name"
                value=""
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                name="itemSpecification"
                formControlName="itemSpecification"
                placeholder="Item Specification"
                value=""
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                formControlName="unit"
                placeholder="Unit Measurement"
                value=""
              />
            </mat-form-field>
            <mat-form-field>
              <input
                type="number"
                matInput
                name="quantity"
                formControlName="qtyOrdered"
                placeholder="Quantity Ordered"
                value=""
              />
            </mat-form-field>
            <mat-form-field>
              <input
                type="number"
                matInput
                formControlName="qtyReceived"
                placeholder="Quantity Received"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                type="number"
                matInput
                formControlName="unitPrice"
                placeholder="Unit Price"
              />
            </mat-form-field>

            <mat-icon class="delete-btn" (click)="deleteItem(i)">
              delete_forever</mat-icon
            >
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div *ngIf="visible" fxLayout="row" fxLayoutAlign="center center">
    <button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      (click)="saveChanges()"
    >
      Submit
    </button>
    <a mat-stroked-button routerLink="/view/stores">Cancel</a>
  </div>
</div>
