<!-- header -->
<div [formGroup]="form">
  <!--  -->
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-mini-fab (click)="addItem()">
      <mat-icon class="add-course-btn">add</mat-icon>
    </button>
  </div>
  <!--  -->
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="10"></div>
    <div fxFlex="80">
      <ng-container formArrayName="requestItems">
        <ng-container
          *ngFor="let requestForm of requestItems.controls; let i = index"
        >
          <div [formGroup]="requestForm">
            <mat-form-field>
              <input
                matInput
                name="name"
                formControlName="name"
                placeholder="Name"
                value=""
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                name="Type"
                formControlName="type"
                placeholder="Type"
                value=""
              />
            </mat-form-field>
            <mat-form-field>
              <input
                      type="number"
                matInput
                formControlName="quantity"
                placeholder="Quantity"
                value=""
              />
            </mat-form-field>
            <mat-form-field>
              <input
                      type="number"
                matInput
                name="unitPrice"
                formControlName="unitPrice"
                placeholder="Unit Price"
                value=""
              />
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="use" placeholder="Use" />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                formControlName="description"
                placeholder="Description"
              />
            </mat-form-field>

            <mat-icon class="delete-btn" (click)="deleteItem(i)">
              delete_forever</mat-icon
            >
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div *ngIf="visible" fxLayout="row" fxLayoutAlign="center center">
    <button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      (click)="saveChanges()"
    >
      Submit
    </button>
    <a mat-stroked-button routerLink="/view/requests">Cancel</a>
  </div>
</div>
