<!-- header -->
<div>
  <div fxLayout="row">
    <div fxFlex="5"></div>
    <div fxFlex="75">
      <div fxLayout="column">
        <div>Asked By : {{ header.askedBy }}</div>
        <div>Checked BY : {{ header.checkedBy }}</div>
        <div></div>
      </div>
    </div>
    <div fxFlex="20">
      <div fxLayout="column">
        <div>Approved By :{{ header.approvedBy }}</div>
        <div>Date :{{ header.date }}</div>
        <div></div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="ml-05 mr-05 mt-05 pb-1">
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="request" matSort>
        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="name">
            {{ element.name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Type
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="type">
            {{ element.type }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Quantity">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Quantity
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="quantity">
            {{ element.quantity }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Unit Price">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Unit Price
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="unitPrice">
            {{ element.unitPrice }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Total Price">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Total Price
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="totalPrice">
            {{ element.totalPrice }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Use">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Use
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="use">
            {{ element.use }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Description
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Description">
            {{ element.description }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Actions
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-icon class="add-course-btn" (click)="addItem()">add</mat-icon>

            <mat-icon
              routerLink="/view/requestitem/{{ paramsId }}/edit/{{
                element.id
              }}"
              mat-flat-button
              color="primary"
              >edit
            </mat-icon>
            <mat-icon
              class="delete-btn"
              mat-flat-button
              color="warn"
              [swal]="{
                title: 'Confirmation',
                text: 'Are you sure that you want to delete the record?',
                showCancelButton: true
              }"
              (confirm)="delete(element.id)"
            >
              delete_forever</mat-icon
            >
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let element; columns: columnsToDisplay"> </mat-row>
      </mat-table>
    </div>
  </div>
  <!--  -->
</div>
