<mat-card class="p-0">
  <mat-card-content>
    <form (submit)="saveChanges()" [formGroup]="form">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                matInput
                name="name"
                formControlName="name"
                placeholder="Name"
                value=""
              />
            </mat-form-field>
            <small
              *ngIf="
                form.controls['name'].hasError('name') &&
                form.controls['name'].touched
              "
              class="form-error-msg"
            >
              Name is required
            </small>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                matInput
                name="discription"
                formControlName="discription"
                placeholder="Discription"
              />
            </mat-form-field>
            <small
              *ngIf="
                form.controls['discription'].hasError('discription') &&
                form.controls['discription'].touched
              "
              class="form-error-msg"
            >
              Discription is Required
            </small>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                matInput
                name="size"
                formControlName="size"
                placeholder="Size"
                value=""
              />
            </mat-form-field>
            <small
              *ngIf="
                form.controls['size'].hasError('size') &&
                form.controls['size'].touched
              "
              class="form-error-msg"
            >
              Size is required
            </small>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                matInput
                name="qty"
                formControlName="qty"
                placeholder="Qty"
              />
            </mat-form-field>
            <small
              *ngIf="
                form.controls['qty'].hasError('qty') &&
                form.controls['qty'].touched
              "
              class="form-error-msg"
            >
              Qty is Required
            </small>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                matInput
                name="unitPrice"
                formControlName="unitPrice"
                placeholder="UnitPrice"
              />
            </mat-form-field>
            <small
              *ngIf="
                form.controls['unitPrice'].hasError('unitPrice') &&
                form.controls['unitPrice'].touched
              "
              class="form-error-msg"
            >
              UnitPrice is Required
            </small>
          </div>
        </div>
      </div>
      <button mat-raised-button color="primary" [disabled]="form.invalid">
        Submit
      </button>
      <a mat-stroked-button routerLink="/view/financeitems">Cancel</a>
    </form>
  </mat-card-content>
</mat-card>
