<footer class="noprint main-footer">
  <span class="m-auto">
    <div [align]="'center'">Head Office</div>
    <div [align]="'center'">Addis Ababa, Ethiopia</div>
    <div [align]="'center'">Po. box 0000</div>
    <div [align]="'center'">+251-</div></span
  >
  <a href="https://www.facebook.com/"><mat-icon>facebook</mat-icon></a>
  <a href="https://t.me"><mat-icon>telegram</mat-icon></a>
  <a href="https://www.linkedin.com/in"><mat-icon>linkedin</mat-icon></a>
  <a href="http://+251/"><mat-icon>phone</mat-icon></a>
</footer>
