<footer class="noprint main-footer">
  <span class="m-auto">
    <div [align]="'center'">Head Office</div>
    <div [align]="'center'">Aware around Edna Addis Hotel at Agar Building</div>
    <div [align]="'center'">Po. box 34752, Addis Ababa, Ethiopia</div>
    <div [align]="'center'">+251-118-12-44-44,+251-944-69-69-69</div></span
  >
  <a href="https://www.facebook.com/AWACHSACCOS/"><mat-icon>facebook</mat-icon></a>
  <a href="https://t.me/awachsaccos"><mat-icon>telegram</mat-icon></a>
  <a href="https://www.linkedin.com/in/awachsaccosltd"><mat-icon>linkedin</mat-icon></a>
  <a href="http://+2519-44-69-69-69/"><mat-icon>phone</mat-icon></a>
</footer>
