<div class="mat-bg-primary mx--033 mt--033 px-24 pt-24 pb-96">
</div>
<div class="mt--72">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.sm="70" fxFlex.gt-sm="70">
      <div fxLayout="row wrap">
        <div
          *ngFor="let item of statCardList"
          fxFlex="100"
          fxFlex.sm="50"
          fxFlex.gt-sm="50"
        >
          <mat-card
            class="p-24"
            fxFlex
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <div fxLayout="row" fxLayoutAlign="center center">
              <mat-icon class="text-48 mat-color-{{item.color}}">{{
                item.icon
              }}</mat-icon>
              <div class="ml-12">
                <p class="m-0 text-muted mb-4">{{ item.title }}</p>
                <h5 class="m-0 mat-color-{{item.color}}">{{ item.amount }}</h5>
              </div>
            </div>
            <button mat-icon-button matTooltip="view more">
              <mat-icon class="mat-18">arrow_right_alt</mat-icon>
            </button>
          </mat-card>
        </div>
      </div>

      <div fxLayout="row wrap">
        <mat-card fxFlex="100" fxFlex.gt-xs="calc(50% - 16px)">
          <div fxLayout="row" fxLayoutAlign="start center">
            <button class="mat-elevation-z0" mat-mini-fab color="primary">
              <mat-icon class="mat-18">
                trending_up
              </mat-icon>
            </button>
            <div class="mat-card-title mat-color-primary m-0 ml-12">
              Active Users
            </div>
          </div>
          <div
            class="mt-16"
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <h2 class="m-0 text-muted text-28 font-weight-bold">
              10.8k
            </h2>
            <div fxLayout="row wrap" fxLayoutAlign="start center">
              <div class="small-circle mat-bg-primary">
                <mat-icon class="text-12">
                  expand_less
                </mat-icon>
              </div>
              <small class="m-0 ml-4 mat-color-primary text-12">
                (+21%)
              </small>
            </div>
          </div>
        </mat-card>
        <mat-card fxFlex="100" fxFlex.gt-xs="calc(50% - 16px)">
          <div fxLayout="row" fxLayoutAlign="start center">
            <button class="mat-elevation-z0" mat-mini-fab color="warn">
              <mat-icon class="mat-18">
                star_border
              </mat-icon>
            </button>
            <div class="mat-card-title mat-color-warn m-0 ml-12">
              Transactions
            </div>
          </div>
          <div
            class="mt-16"
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <h2 class="m-0 text-muted text-28 font-weight-bold">
              $2.8M
            </h2>
            <div fxLayout="row wrap" fxLayoutAlign="start center">
              <div class="small-circle mat-bg-warn">
                <mat-icon class="text-12">
                  expand_less
                </mat-icon>
              </div>
              <small class="m-0 ml-4 mat-color-warn text-12">
                (+21%)
              </small>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <div fxFlex="100" fxFlex.sm="30" fxFlex.gt-sm="30">
      <div fxLayout="row wrap">
        <mat-card fxFlex="100">
          <mat-card-title class="mb-0">Traffic Sources</mat-card-title>
          <small class="text-muted">Last 30 days</small>
          <div
            echarts
            [options]="doughNutPieOptions"
            style="height: 280px"
          ></div>
        </mat-card>
      </div>
      <div fxLayout="row wrap">
        <mat-card fxFlex="100">
          <mat-card-title>Companies</mat-card-title>

          <p class="text-muted m-0 text-small mt-16">Today</p>
          <div class="py-4" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-progress-bar
              fxFlex="60"
              mode="determinate"
              value="75"
              color="primary"
            ></mat-progress-bar>
            <small class="m-0 text-muted">Awach (102k)</small>
          </div>
          <div class="py-4" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-progress-bar
              fxFlex="60"
              mode="determinate"
              value="50"
              color="accent"
            ></mat-progress-bar>
            <small class="m-0 text-muted">Awach (120k)</small>
          </div>
          <div class="py-4" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-progress-bar
              fxFlex="60"
              mode="determinate"
              value="75"
              color="primary"
            ></mat-progress-bar>
            <small class="m-0 text-muted">Awach (80k)</small>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
