.print {
  // display:none;
  visibility: hidden;
}
@media print {
    .noprint {
      display:none;
      // visibility: hidden;
    }
    .print{
      visibility: visible;
      // display:block;
    }
  }