<!-- header -->
<h1 fxLayout="row" fxLayoutAlign="center center">{{header.name}} Employees</h1>
<div fxLayout="row" fxLayoutAlign="center center" >
  <mat-icon class="noprint" (click)="printPage()">print</mat-icon>
</div>
<div>
  <div fxLayout="row">
    <div fxFlex="5"></div>
    <div fxFlex="40">
      <div fxLayout="column">
        <div>Name : {{ header.name }}</div>
        <div>Email : {{ header.email }}</div>
        <div>Phone : {{ header.phoneNo }}</div>
        <div>Fax : {{ header.fax }}</div>
      </div>
    </div>
    <div fxFlex="30">
      <div fxLayout="column">
        <div>Website :{{ header.website }}</div>
        <div>Address :{{ header.address }}</div>
        <div>Description :{{ header.description }}</div>
      </div>
    </div>
      <div fxFlex="25">
        <div fxLayout="column">
          <div>Created By :{{ header.createdByUser }}</div>
          <div>Created Date :{{ header.createdDate |date}}</div>
          <div *ngIf="header.modifiedByUser">
            <div>Modified By :{{ header.modifiedByUser }}</div>
            <div>Modified Date :{{ header.modifiedDate|date }}</div>
          </div>
        </div>
    </div>
  </div>
  <!--  -->
  <div class="ml-05 mr-05 mt-05 pb-1">
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="employees" matSort>
        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="name">
            {{ element.name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Age">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Age
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="age">
            {{ element.age }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Phone No">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Phone
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="phoneNo">
            {{ element.phoneNo }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Email
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="email">
            {{ element.email }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Department">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Department
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="department">
            {{ element.department }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Position">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Position
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="position">
            {{ element.position }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Created By">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Created By
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="created by">
            {{ element.createdByUser }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Created Date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Created Date
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="created date">
            {{ element.createdDate | date }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Modified By">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Modified By
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="updated by">
            {{ element.modifiedByUser }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Modified Date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Modified Date
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="updated">
            {{ element.modifiedDate | date }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="noprint">
            Actions
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="noprint">
            <mat-icon
              routerLink="/company/{{ paramsId }}/edit/{{ element.id }}"
              mat-flat-button
              color="primary"
              >edit
            </mat-icon>
            <mat-icon
              class="delete-btn"
              mat-flat-button
              color="warn"
              [swal]="{
                title: 'Confirmation',
                text: 'Are you sure that you want to delete the record?',
                showCancelButton: true
              }"
              (confirm)="delete(element.id)"
            >
              delete_forever</mat-icon
            >
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let element; columns: columnsToDisplay"> </mat-row>
      </mat-table>
    </div>
  </div>
  <!--  -->
</div>
