<mat-card class="p-0">
  <mat-card-content>
    <form (submit)="onSubmit.emit(form.value)" [formGroup]="form">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                type="text"
                matInput
                formControlName="firstName"
                placeholder="First Name"
              />
            </mat-form-field>
            <small
              *ngIf="
                form.controls['firstName'].hasError('required') &&
                form.controls['firstName'].touched
              "
              class="form-error-msg"
            >
              First Name is Required
            </small>
            <small
                    *ngIf="
                form.controls['firstName'].hasError('pattern') &&
                form.controls['firstName'].touched
              "
                    class="form-error-msg"
            >
              First Name Must Be Character Only
            </small>
            <small
                    *ngIf="
                form.controls['firstName'].hasError('minlength') &&
                form.controls['firstName'].touched
              "
                    class="form-error-msg"
            >
              First Name Must Be at List 3 Words
            </small>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                type="text"
                matInput
                name="Last"
                formControlName="lastName"
                placeholder="Last Name"
              />
            </mat-form-field>
            <small
              *ngIf="
                form.controls['lastName'].hasError('required') &&
                form.controls['lastName'].touched
              "
              class="form-error-msg"
            >
              Last Name is Required
            </small>
            <small
                    *ngIf="
                form.controls['lastName'].hasError('pattern') &&
                form.controls['lastName'].touched
              "
                    class="form-error-msg"
            >
              Last Name Must Be Character Only
            </small>
            <small
                    *ngIf="
                form.controls['lastName'].hasError('minlength') &&
                form.controls['lastName'].touched
              "
                    class="form-error-msg"
            >
              Last Name Must Be at List 3 Words
            </small>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                type="text"
                matInput
                name="user"
                formControlName="userName"
                placeholder="User Name"
              />
            </mat-form-field>
            <small
              *ngIf="
                form.controls['userName'].hasError('required') &&
                form.controls['userName'].touched
              "
              class="form-error-msg"
            >
              User Name is Required
            </small>
            <small
                    *ngIf="
                form.controls['userName'].hasError('minlength') &&
                form.controls['userName'].touched
              "
                    class="form-error-msg"
            >
              User Name Must Be at List 3 Words
            </small>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                matInput
                type="email"
                name="email"
                formControlName="email"
                placeholder="Your Email"
                value=""
              />
            </mat-form-field>
            <small
              *ngIf="
                form.controls['email'].hasError('required') &&
                form.controls['email'].touched
              "
              class="form-error-msg"
            >
              Email is required
            </small>
            <small
              *ngIf="
                form.controls['email'].hasError('email') &&
                form.controls['email'].touched
              "
              class="form-error-msg"
            >
              Invalid email address
            </small>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                type="password"
                matInput
                name="password"
                formControlName="password"
                placeholder="Password"
              />
            </mat-form-field>
            <small
              *ngIf="
                form.controls['password'].hasError('required') &&
                form.controls['password'].touched
              "
              class="form-error-msg"
            >
              Password is Required
            </small>
            <small
                    *ngIf="
                form.controls['password'].hasError('minlength') &&
                form.controls['password'].touched
              "
                    class="form-error-msg"
            >
              Password Must Be at List 6
            </small>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                type="number"
                matInput
                name="password"
                formControlName="phoneNumber"
                placeholder="Phone Number"
              />
            </mat-form-field>
            <small
              *ngIf="
                form.controls['phoneNumber'].hasError('required') &&
                form.controls['phoneNumber'].touched
              "
              class="form-error-msg"
            >
              Phone Number is Required
            </small>
            <small
                    *ngIf="
                form.controls['phoneNumber'].hasError('minlength') ||
                 form.controls['phoneNumber'].hasError('maxlength') &&
                form.controls['phoneNumber'].touched
              "
                    class="form-error-msg"
            >
              Invalid Phone Number
            </small>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <mat-label>Choose User Role</mat-label>
              <mat-select>
                <mat-option
                  *ngFor="let role of roles"
                  [value]="role"
                  (click)="addRole(role)"
                >
                  {{ role }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <button mat-raised-button color="primary" [disabled]="form.invalid">
        Submit
      </button>
      <a mat-stroked-button routerLink="/view/users">Cancel</a>
    </form>
  </mat-card-content>
</mat-card>
<!--  -->
