<mat-card class="p-0">
    <mat-card-content>
      <form (submit)="saveChanges()" [formGroup]="form">
        <div fxLayout="row wrap">
          <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
            <div class="pb-1">
              <mat-form-field class="full-width">
                <mat-label>Vender</mat-label>
                <mat-select formControlName="vendorId">
                    <mat-option *ngFor="let company of companies" [value]="company.id">
                      {{company.name}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
            <div class="pb-1">
              <mat-form-field class="full-width">
                <mat-label>Ship TO</mat-label>
                <mat-select formControlName="shipId">
                    <mat-option *ngFor="let company of companies" [value]="company.id">
                      {{company.name}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input
                  matInput
                  name="termsofPayment"
                  formControlName="termsofPayment"
                  placeholder="Terms of Payment"
                  value=""
                />
              </mat-form-field>
              <small
                *ngIf="
                  form.controls['termsofPayment'].hasError(
                    'graNo'
                  ) && form.controls['termsofPayment'].touched
                "
                class="form-error-msg"
              >
              Terms of Payment is required
              </small>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input
                  matInput
                  name="termsOfDeliery"
                  formControlName="termsOfDeliery"
                  placeholder="Terms Of Deliery"
                />
              </mat-form-field>
              <small
                *ngIf="
                  form.controls['termsOfDeliery'].hasError('termsOfDeliery') &&
                  form.controls['termsOfDeliery'].touched
                "
                class="form-error-msg"
              >
              Terms Of Deliery is Required
              </small>
            </div>
            <div class="pb-1">
              <mat-form-field class="full-width">
                <mat-label>Prepared By</mat-label>
                <mat-select formControlName="preparedBy">
                    <mat-option *ngFor="let employee of employees" [value]="employee.id">
                      {{employee.name}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
            <div class="pb-1">
              <mat-form-field class="full-width">
                <mat-label>Checked By</mat-label>
                <mat-select formControlName="checkedBy">
                    <mat-option *ngFor="let employee of employees" [value]="employee.id">
                      {{employee.name}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
            <div class="pb-1">
                <mat-form-field class="full-width">
                  <mat-label>Approved By</mat-label>
                  <mat-select formControlName="approvedBy">
                      <mat-option *ngFor="let employee of employees" [value]="employee.id">
                        {{employee.name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
              </div>
            <h4>Select the Items</h4>

  <app-multiple-selector
    [NonSelectedItems]="nonSelectedItems"
    [SelectedItems]="selectedItems"
  ></app-multiple-selector>
          </div>
        </div>
        <button mat-raised-button color="primary" [disabled]="form.invalid">
          Submit
        </button>
        <a mat-stroked-button routerLink="/view/finances">Cancel</a>
      </form>
    </mat-card-content>
  </mat-card>