<!-- header -->
<div [formGroup]="form">
  <div fxLayout="row">
    <div fxFlex="10"></div>
    <div fxFlex="30">
      <div fxLayout="column">
        <div>
          <mat-form-field>
            <input
              matInput
              name="name"
              formControlName="name"
              placeholder="Name"
              value=""
            />
          </mat-form-field>
          <small
            *ngIf="
              form.controls['name'].hasError('required') &&
              form.controls['name'].touched
            "
            class="form-error-msg"
          >
            Company Name is required
          </small>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              name="address"
              formControlName="address"
              placeholder="address"
            />
          </mat-form-field>
          <small
            *ngIf="
              form.controls['address'].hasError('required') &&
              form.controls['address'].touched
            "
            class="form-error-msg"
          >
            Company address is required</small
          >
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              name="country"
              formControlName="country"
              placeholder="Country"
            />
          </mat-form-field>
          <small
            *ngIf="
              form.controls['country'].hasError('required') &&
              form.controls['country'].touched
            "
            class="form-error-msg"
          >
            Company Country is required</small
          >
        </div>
      </div>
    </div>
    <div fxFlex="30">
      <div fxLayout="column">
        <div>
          <mat-form-field>
            <input
              matInput
              type="email"
              name="email"
              formControlName="email"
              placeholder="Your Email"
              value=""
            />
          </mat-form-field>
          <small
            *ngIf="
              form.controls['email'].hasError('required') &&
              form.controls['email'].touched
            "
            class="form-error-msg"
          >
            Email is required
          </small>
          <small
                  *ngIf="
                form.controls['email'].hasError('email') &&
                form.controls['email'].touched
              "
                  class="form-error-msg"
          >
            Invalid email address
          </small>
        </div>
        <div>
          <mat-form-field>
            <input
                    type="number"
              matInput
              name="phone"
              formControlName="phoneNo"
              placeholder="Phone number"
            />
          </mat-form-field>
          <small
            *ngIf="
              form.controls['phoneNo'].hasError('required') &&
              form.controls['phoneNo'].touched
            "
            class="form-error-msg"
          >
            company phone number is required
          </small>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              name="fax"
              formControlName="fax"
              placeholder="fax"
            />
          </mat-form-field>
          <small
            *ngIf="
              form.controls['fax'].hasError('required') &&
              form.controls['fax'].touched
            "
            class="form-error-msg"
          >
            Company fax number is required</small
          >
        </div>
      </div>
    </div>
    <div fxFlex="30">
      <div>
        <mat-form-field>
          <input
            matInput
            name="website"
            formControlName="website"
            placeholder="Your Website (http://mhd.com)"
            value=""
          />
        </mat-form-field>
        <small
          *ngIf="
            form.controls['website'].hasError('required') &&
            form.controls['website'].touched
          "
          class="form-error-msg"
        >
          website is required</small
        >
        <small
          *ngIf="
            form.controls['website'].hasError('url') &&
            form.controls['website'].touched
          "
          class="form-error-msg"
        >
         Invalid url</small
        >
      </div>
      <div>
        <mat-form-field>
          <input
            matInput
            name="description"
            formControlName="description"
            placeholder="description"
          />
        </mat-form-field>
        <small
          *ngIf="
            form.controls['description'].hasError('required') &&
            form.controls['description'].touched
          "
          class="form-error-msg"
        >
          Company description is required</small
        >
      </div>
    </div>
  </div>
  <!--  -->
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-mini-fab (click)="addEmployee()">
      <mat-icon class="add-course-btn">add</mat-icon>
    </button>
  </div>
  <!--  -->
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="10"></div>
    <div fxFlex="80">
      <ng-container formArrayName="employees">
        <ng-container
          *ngFor="let employeeForm of employees.controls; let i = index"
        >
          <div [formGroup]="employeeForm">
            <mat-form-field>
              <input
                matInput
                name="name"
                formControlName="name"
                placeholder="Name"
                value=""
              />
            </mat-form-field>
            <mat-form-field>
              <input
                type="number"
                matInput
                name="age"
                formControlName="age"
                placeholder="Age"
                value=""
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                type="email"
                name="email"
                formControlName="email"
                placeholder="Your Email"
                value=""
              />
            </mat-form-field>
            <mat-form-field>
              <input
                type="number"
                matInput
                name="phoneNo"
                formControlName="phoneNo"
                placeholder="Phone number"
                value=""
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                name="department"
                formControlName="department"
                placeholder="department"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                name="position"
                formControlName="position"
                placeholder="position"
              />
            </mat-form-field>
            <mat-icon class="delete-btn" (click)="deleteEmployee(i)">
              delete_forever</mat-icon
            >
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      (click)="saveChanges()"
    >
      Submit
    </button>
    <a mat-stroked-button routerLink="/view/companies">Cancel</a>
  </div>
</div>
